.gap-input-container {
    margin-top: 20px;
    width: var(--count-wrapper-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.gap-input {
    -moz-appearance: textfield;
    appearance: textfield;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    padding: 5px;
    text-align: center;
    outline: none;
    border: 0.5px solid #cdcdcd;
}

.gap-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.gap-input-container > button {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    font-size: 0.85rem;
}