.gap-input-container {
    margin-top: 10px;
    text-align: center;
}

.gap-input {
    -moz-appearance: textfield;
    appearance: textfield;
    margin-top: 10px;
    max-width: 60px;
    height: 30px;
    padding: 5px;
    text-align: center;
    outline: none;
    border: 0.5px solid #cdcdcd;
}

.gap-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}