main {
    min-height: calc(100vh - var(--header-height));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .smaller-wrapper {
    width: 360px;
    text-align: center;
    border: 0.5px solid #cdcdcd;
    border-radius: 5px;
  }
  
  .smaller-wrapper > h3 {
    margin: 20px 0;
  }
  
  .smaller-wrapper > .content-wrapper {
    /* padding: 10px 0; */
    /* border-top: 0.5px solid #cdcdcd; */
  }
  
  .multiple-wrapper {
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid #cdcdcd;
  }