:root {
  --header-height: 45vh;
  --button-width: 50px;
  --count-wrapper-width: 200px;
  --counter-wrapper-x-margin: 30px;
  --smaller-wrapper-width: calc((var(var(--button-width) * 2) + var(var(--count-wrapper-width) + (var(var(--counter-wrapper-x-margin) * 2)))))
}

.App {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}